:root {
    --verde-escuro: #006400; /* Verde Floresta */
    --verde: #2E8B57; /* Verde Mar */
    --verde-claro: #90EE90; /* Verde Claro */
    --cinza-escuro: #36454F;
    --cinza-claro: #f8f9fa;
    --branco: #ffffff;
    --navbar-height: 56px; /* Altura padrão da navbar do Bootstrap */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cinza-claro);
    color: var(--cinza-escuro);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: var(--verde-escuro);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar-brand, .nav-link {
    color: var(--branco) !important;
    font-weight: 600;
    transition: color 0.3s;
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--verde-claro) !important;
}

.nav-link.active {
    color: var(--verde) !important;
    font-weight: 700;
    border-bottom: 2px solid var(--verde);
}

/* Nova seção de texto */
#hero-text {
    background-color: var(--cinza-escuro);
    height: calc(2 * var(--navbar-height));
    /* As classes do Bootstrap já centralizam o conteúdo */
}

#hero-text h1, #hero-text p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Nova seção da imagem */
#hero-image-container {
    flex-grow: 1; /* Faz com que a div ocupe todo o espaço vertical restante */
    min-height: 400px; /* Define uma altura mínima para a imagem, se a tela for muito pequena */
}

#hero-image-container img {
    /* As classes do Bootstrap já tornam a imagem responsiva */
    object-fit: cover; /* Garante que a imagem preencha a div, cortando se necessário */
}

.btn-primary {
    background-color: var(--verde);
    border-color: var(--verde-escuro);
    font-weight: 600;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--verde-escuro);
    border-color: var(--verde);
}

/* Estilo para o botão de WhatsApp */
.btn-success {
    background-color: #25D366;
    border-color: #128C7E;
    color: var(--branco);
}

.btn-success:hover {
    background-color: #128C7E;
    border-color: #25D366;
}

footer {
    background-color: var(--verde-claro);
    color: var(--verde-escuro);
    padding: 2rem 0;
    text-align: center;
    margin-top: auto;
}

/* Oculta o texto do botão do WhatsApp em telas pequenas */
@media (max-width: 991.98px) {
    .whatsapp-btn-text {
        display: none;
    }
    
    /* Regra para mostrar o ícone ao lado do nome da marca apenas em telas pequenas */
    .whatsapp-mobile-icon {
        display: inline-block;
        margin-left: 0.5rem; /* Espaço entre o nome e o ícone */
    }
}

/* Regra para ocultar o ícone em telas grandes */
@media (min-width: 992px) {
    .whatsapp-mobile-icon {
        display: none;
    }
}